body,html{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
.container{
    height: 100%;
    justify-content: center;
    align-content: center;
}    
.container_new{
    background-color: #FFFFFF;
}
.header_container{
    display: flex;
    width: 80%;
    margin-left: 8%;
    justify-content: space-between;
    align-content: space-between;
    padding: 1%;
}
.header_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    font-family: sans-serif;
}
.main_container{
    background-color: #F7F7F7;
    padding-top: 1%;
}
.header_content1{
    display: flex;
    width: 80%;
    margin-left: 8%;
    justify-content: space-between;
    align-content: space-between;
    padding: 1%;
}
.left_contents{
    display: flex;
    flex: 100%;
}
.right_contents{
    display: flex;
    
     
}
.brand_name{
    display: flex;
    flex-direction: column;
}
.brand_text1{
    color: #82A70C;
}
.brand_text2{
    color: #42515F;
}
.brand_text3{
    font-size: 28px;
    color: #42515F;
    text-transform: capitalize;
    font-family: Roboto;
}
.header_content img{
    width: 100%;
    height: 100%;
}
.add_user_btn{
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 215px;
    height: 55px;
    border: none;
    margin-left: 4%;
}
.search_btn{
    width: 77px;
    height: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    opacity: 1;
    border: none;
    

}
.left_contents{
    display: flex;
}
.right_contents{
    display: flex;
}
table{
    min-width: 80%;
    margin: 2% auto;
    justify-content: center;
    border-collapse: collapse;
    border-radius: 3px 3px 0px 0px;
}
th{
    background: #42515F 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2% 2%;
}
td{
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    text-align: center;
    padding: 1%;
}
